body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
    color: #1f2e56;
  }
  
  .hero-section {
    background-color: #e6eaf0;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    color: #1f2e56;
  }
  
  .text-section {
    max-width: 500px;
  }
  
  .image-section img {
    max-width: 300px;
    height: auto;
  }
  
  .feature-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease-in-out;
    height: 100%;
    transform: translateY(0);
  }
  
  .feature-box:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }  
  
  .feature-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #1f2e56;
    border-color: #1f2e56;
  }
  
  .btn-primary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  .lista-modulos li::before {
    content: '✔';
    color: #1f2e56;
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
    text-align: center;
  }
  
  
  .navbar-nav .nav-link {
    transition: color 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    color: #0d6efd;
  }

  .modulo-item {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .modulo-item.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .cliente-logo {
    width: 250px;
    height: 150px;
    object-fit: contain;
    object-position: center;
  }
  
  